<img src="./images/lemon.png" style="height:120px;" /><br /><br />

<a href="/index.html">Home</a> |
<a href="/reactivity.html">Reactivity</a> |
<a href="/components.html">Components</a> |
<a href="/javascript.html">JavaScript</a> |
<a target="_blank" href="https://github.com/everyyoga/lemon">Download</a> |
<a target="_blank" href="https://github.com/everyyoga/lemon">GitHub</a>

<style>
  #lemondebugtitle {
    border-top:3px solid orange;
    padding:21px;
    margin:0;
    margin-top:42px;
  }
#lemondebug{
  padding:21px;
  border:1px solid orange;
}
input {
  border:1px solid orange;
  padding:6px 9px;
  border-radius:6px;
}
button {
  border:1px solid orange;
  color:black;
}
  </style>
